TEST_MODE=false
TEST_OTP=400001

NOTIFICORE_OTP_ENABLED=true
NOTIFICORE_API_KEY=live_xxx
NOTIFICORE_TEMPLATE_ID=123
NOTIFICORE_SENDER=MANERA
NOTIFICORE_CHANNEL=SMS
NOTIFICORE_ONE_API_URL=http://one-api.notificore.ru
NOTIFICORE_CODE_DIGITS=6
NOTIFICORE_CODE_LIFETIME_SEC=300
NOTIFICORE_CODE_MAX_TRIES=3

MANUAL_SBP_PAYMENT_URL=https://example.com/sbp-pay
MANUAL_SBP_RECEIVER_NAME=Студия Манера
MANUAL_SBP_RECEIVER_PHONE=+79180000000
PAYMENTS_AUTO_ACTIVATE_ON_USER_CONFIRM=true
PAYMENTS_MVP_ENABLED=false
